<?xml version="1.0" encoding="UTF-8"?>
 
<!-- Security configuration -->
 
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security-3.0.xsd">
 

	<http auto-config="true">
                <intercept-url pattern="/discsfromme" access="ROLE_USER" />
                <intercept-url pattern="/discs" access="ROLE_USER" />
                <intercept-url pattern="/mytakendiscs" access="ROLE_USER" />
                <intercept-url pattern="/freediscs" access="ROLE_USER" />
		
                <form-login login-page="/login.jsp" 
                            default-target-url="/freediscs"
                         />
		<logout logout-success-url="/login.jsp" />
		
		
	</http>
	
	<authentication-manager>
     <authentication-provider>
       <jdbc-user-service data-source-ref="dataSource" 
            authorities-by-username-query="SELECT u.username, u.authority FROM Users u WHERE u.username = ?"
            users-by-username-query="SELECT u.username, u.password, u.enabled FROM Users u WHERE u.username = ?"/>
     </authentication-provider>
   </authentication-manager>
 

</beans:beans>